.skills-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 25px;
}

.skill-subtitle {
  font-size: 1.3em;
  margin: 10px 0 10px 0;
}

.skill-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.skills-column-items {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.skill-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.skill-row span {
  font-size: 1em;
}

.skill-icon {
  font-size: 1.25em;
}


@media screen and (max-width: 500px) {
  .skills-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
  }

  .skill-subtitle {
    font-size: 1.2em;
    margin: 0 0 20px 0;
  }

  .skills-column-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .skill-row {
    display: flex;
    align-items: center;
    font-size: 1.4em;
  }

  .skill-icon {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1000px) and (max-height: 500px) {
  .skills-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
  
  .skill-subtitle {
    font-size: 1.5em;
    margin: 0;
  }
  
  .skills-column-items {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .skill-row {
    display: flex;
    align-items: center;
    font-size: 1.4em;
  }
  
  .skill-icon {
    font-size: 1.5em;
    margin-right: 10px;
  }
  
}

@media screen and (max-height: 800px) {
  .skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
  }

  .skill-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .skills-wrapper {
    width: 100%;
  }

  .skills-column-items {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .skill-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
}
